In [6]:
#1 간단한 함수 만들기

# def 키워드를 이용해 아래와 같이 작성
def square(x) :
    return x ** 2

def n_square(x, n) :
    return x ** n

# 아래와 같이 호출한다.
print(square(3))

9

In [3]:
#2 apply 메서드 사용하기
import pandas as pd

df = pd.DataFrame({'a' : [10, 20, 30], 'b' : [20, 30, 40]})
print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [7]:
print(df['a'] ** 2)

# apply를 통해 메서드를 적용시킨다.
# 메서드의 인자가 하나라면 생략
#sq = df['a'].apply(square)

# 메서드의 인자가 둘 이상이라면 인자를 전달한다.
sq = df['a'].apply(n_square, n = 2)
print(sq)

0    100
1    400
2    900
Name: a, dtype: int64
0    100
1    400
2    900
Name: a, dtype: int64

In [9]:
def avg(data) :
    return sum(data) / len(data)

# 열들의 평균 구하기
print(df.apply(avg))

# 행들의 평균 구하기
print(df.apply(avg, axis=1))

a    20.0
b    30.0
dtype: float64
0    15.0
1    25.0
2    35.0
dtype: float64

In [10]:
#3 apply 메서드 사용하기 - 고급
import seaborn as sns

titanic = sns.load_dataset('titanic')

In [11]:
print(titanic.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
survived       891 non-null int64
pclass         891 non-null int64
sex            891 non-null object
age            714 non-null float64
sibsp          891 non-null int64
parch          891 non-null int64
fare           891 non-null float64
embarked       889 non-null object
class          891 non-null category
who            891 non-null object
adult_male     891 non-null bool
deck           203 non-null category
embark_town    889 non-null object
alive          891 non-null object
alone          891 non-null bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB
None

In [12]:
import numpy as np

# 누락값의 개수를 구하는 함수를 만든다.
def count_missing(vec) :
    null_vec = pd.isnull(vec)
    null_count = np.sum(null_vec)
    return null_count

# 함수를 apply 메서드에 전달하여 컬럼 별 누락값 개수를 카운트한다.
cmis_col = titanic.apply(count_missing)
print(cmis_col)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [15]:
# 데이터 중 누락값이 차지하는 비율을 얻는 함수를 만든다.
def prop_missing(vec) :
    num = count_missing(vec)
    dem = vec.size
    return num / dem

# 위 메서드를 활용하여 누락값이 아닌 데이터의 비율을 얻는 함수를 만든다.
def prop_complete(vec) :
    return 1 - prop_missing(vec)

# apply 메서드에 전달하여 컬럼 별 누락값 비율을 구한다.
pmis_col = titanic.apply(prop_missing)
print(pmis_col)

# apply 메서드에 전달하여 컬럼 별 데이터 비율을 구한다.
pcom_col = titanic.apply(prop_complete)
print(pcom_col)

survived       0.000000
pclass         0.000000
sex            0.000000
age            0.198653
sibsp          0.000000
parch          0.000000
fare           0.000000
embarked       0.002245
class          0.000000
who            0.000000
adult_male     0.000000
deck           0.772166
embark_town    0.002245
alive          0.000000
alone          0.000000
dtype: float64
survived       1.000000
pclass         1.000000
sex            1.000000
age            0.801347
sibsp          1.000000
parch          1.000000
fare           1.000000
embarked       0.997755
class          1.000000
who            1.000000
adult_male     1.000000
deck           0.227834
embark_town    0.997755
alive          1.000000
alone          1.000000
dtype: float64

In [17]:
# 행 별로도 구해본다.
cmis_row = titanic.apply(count_missing, axis=1)
pmis_row = titanic.apply(prop_missing, axis=1)
pcom_row = titanic.apply(prop_complete, axis=1)

print(cmis_row.head())
print(pmis_row.head())
print(pcom_row.head())

0    1
1    0
2    1
3    0
4    1
dtype: int64
0    0.066667
1    0.000000
2    0.066667
3    0.000000
4    0.066667
dtype: float64
0    0.933333
1    1.000000
2    0.933333
3    1.000000
4    0.933333
dtype: float64

In [20]:
# 데이터 프레임에 누락값의 개수 열을 추가한다.
# 각 행별로 누락값이 얼마나 존재하는지 알 수 있다.
titanic['num_missing'] = titanic.apply(count_missing, axis=1)
#print(titanic.head())

# 누락값이 존재하는 행만 따로 볼 수 있다.
print(titanic.loc[titanic.num_missing > 1, :].sample(10))

     survived  pclass     sex  age  sibsp  parch     fare embarked   class  \
490         0       3    male  NaN      1      0  19.9667        S   Third
260         0       3    male  NaN      0      0   7.7500        Q   Third
87          0       3    male  NaN      0      0   8.0500        S   Third
409         0       3  female  NaN      3      1  25.4667        S   Third
95          0       3    male  NaN      0      0   8.0500        S   Third
17          1       2    male  NaN      0      0  13.0000        S  Second
82          1       3  female  NaN      0      0   7.7875        Q   Third
466         0       2    male  NaN      0      0   0.0000        S  Second
768         0       3    male  NaN      1      0  24.1500        Q   Third
140         0       3  female  NaN      0      2  15.2458        C   Third

       who  adult_male deck  embark_town alive  alone  num_missing
490    man        True  NaN  Southampton    no  False            2
260    man        True  NaN   Queenstown    no   True            2
87     man        True  NaN  Southampton    no   True            2
409  woman       False  NaN  Southampton    no  False            2
95     man        True  NaN  Southampton    no   True            2
17     man        True  NaN  Southampton   yes   True            2
82   woman       False  NaN   Queenstown   yes   True            2
466    man        True  NaN  Southampton    no   True            2
768    man        True  NaN   Queenstown    no  False            2
140  woman       False  NaN    Cherbourg    no  False            2